.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}
img[alt="Alan Smith"]{
	border-radius: 50%;
}
#mainArea{
	width: 90%;
	margin-left: 40px;
}
#mainArea > p{
	margin-top: 2em;
}
#name {
	float: left;
}

#name > h1{
	margin-bottom: 0em;
	font-size: 3em;
}

#name > h2{
	margin-top: 0em;
	font-weight: 100;
}

#contactDetails {
	float: right;
	
}

.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
	font-style: italic;
	font-family: 'rokkitt';	
}

.sectionContent {
	float: right;
	width: 72.5%;
	color: #444444;

}

#top{
	font-family: 'rokkitt';
	color: #181818;
	width: 45%;	
	margin-left: 30%;
	background-color: #f3f3f3;	
}

.subDetails{
	font-family: 'Rokkitt';
	font-size: 1em;
	color: #444444;
	font-style: italic;
	margin: 0em;
}
.mainDetails{
	border-bottom-style: solid;
	border-bottom-color: #cf8a05;
	border-bottom-width: 2px;
}

.sectionborder{
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	border-bottom-width: 2px;
	width: 90%;
}
p{
	margin-bottom: 2em;
	margin-top: 0em;
	width: 90%;
}

h2{
	margin-bottom: 0em;
	font-family: 'rokkitt';
}
.keySkills{
	column-count: 3;
}